<div class = "container">
  <nav class="navbar">
    <div class="nav-container">
      <h1 class="logo">E-COMMERCE APP</h1>
      <div class="nav-links">
        <a href="#" class="nav-link">HOME</a>
        <a href="#" class="nav-link">ABOUT</a>
        <a href="#" class="nav-link">MANAGE PRODUCTS</a>
      </div>
    </div>
  </nav>   
  <div class = "content">
    <div class = "left-panel">
      <form (submit)="addProduct(); form.reset(); $event.preventDefault()" #form>
        <label for="name">Product Name:</label>
        <input type="text" id="name" [(ngModel)]="product.name" name="name" placeholder="Enter product name.." required>
      
        <label for="price">Price:</label>
        <input type="number" id="price" [(ngModel)]="product.price" name="price" placeholder="Enter price.." required>
      
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" [(ngModel)]="product.quantity" name="quantity" placeholder="Enter quantity.." required>
      
        <button class= "btn-primary" type="submit" [disabled] = "!isFormValid()">Add Product</button>
      </form>
      
    </div>
    <div class = "right-panel">
      <input type="text" [(ngModel)]="searchQuery" class="search-box" placeholder="Search by Name.." (input)="filterProducts()">
      <app-productCard [products] = "products"></app-productCard>
    </div>
  </div>
</div>
