.container{ /* whole page */
    display: flex;
    flex-direction: column;
}
header{
    text-align: center;
    font-size: 18px;
    /*padding: 10px;*/
    background-color: lightgray;
}
.content{
    display: flex;
    height: 100vh;
}
.left-panel{
    flex: 1;
    padding: 20px;
    width: 30%;
    margin-top: 30px;
    padding-left: 40px;
}
form{
    display:flex;
    gap : 10px;
    font-size: medium;
    flex-direction: column;
    padding: 40px;
    border: 2px solid white; 
    border-radius: 20px; 
    box-shadow: 5px 5px 5px 5px gray; 
    background-color: white;
    width: 80%;
    height: 64vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

input{
    padding:18px;
    font-size: 16px;
    margin-bottom: 25px;
    border-radius: 10px;
}
.btn-primary{
    padding: 10px;
    text-align: center;
    font-size: 16px;
    margin-top: 25px;
    border-radius: 10px;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: white;
}
.right-panel{
    flex: 2;
    padding: 20px;
    margin-top: 30px;
    padding-left: 10px;
}

/* for navbar */
/* Navbar Styling */
.navbar {
    background-color: #007bff; /* Bootstrap Primary Color */
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  /* Container for navbar items */
  .nav-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
  }
  
  /* Logo */
  .logo {
    font-size: 22px;
    font-weight: bold;
    margin-left: 10%;
  }
  
  /* Navigation links */
  .nav-links {
    display: flex;
    gap: 30px;
    margin-right: 5%;
  }
  
  .nav-link {
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    transition: background 0.3s ease;
  }
  
  /* Hover effect */
  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .search-box {
    display: flex;
    justify-content: center;
    width: 50%; 
    padding: 8px 12px;   
    font-size: 16px; 
    border-radius: 10px; 
    justify-content: center;
  }
  
  .search-box:focus { /* Darker blue on focus */
    box-shadow: 0 0 5px rgba(0, 91, 187, 0.5); 
  }
  
  